* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: #262A38;
    font-family: sans-serif;
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: flex-end;
    padding: 10px;
}

.bar-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #A4ABBE;
    text-transform: uppercase;
    font-weight: bold;
}

.bar-btn:hover {
    cursor: pointer;
    background-color: #696b84;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
}

.left {
    flex-grow: 1;
    flex-basis: 0;
}

.right {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.body-part {
    fill: #2A3141;
}

.body-part-dead {
    fill: red;
}



.word {
    font-size: 5rem;
    color: #516178;
}

.hint {
    font-size: 4rem;
    color: #76839C;
    text-align: center;
    padding: 0 20%;
}