* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: #262A38;
    font-family: sans-serif;
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: flex-end;
    padding: 10px;
}

.bar-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #A4ABBE;
    text-transform: uppercase;
    font-weight: bold;
}

.bar-btn:hover {
    cursor: pointer;
    background-color: #696b84;
}

.bar-btn:focus {
    outline: none;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
}

.left {
    flex-grow: 1;
}

.right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.body-part {
    fill: #2A3141;
}

.body-part-dead {
    fill: rgb(255, 36, 84);
}



.word {
    font-size: 5rem;
    color: #516178;
}

.hint {
    font-size: 4rem;
    color: #76839C;
    text-align: center;
    padding: 0 20%;
}

.message {
    backdrop-filter: none;
    background-color: rgba(36, 36, 46, 0.436);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
}

.message-good {
    text-align: center;
    backdrop-filter: blur(10px);
    display: flex;
    color: #76ff76;
    font-size: 3rem;
    text-shadow: 0 0 10px #76ff76;
}

.message-bad {
    text-align: center;
    backdrop-filter: blur(10px);
    display: flex;
    color: #ff2c76;
    font-size: 3rem;
    text-shadow: 0 0 10px #ff2c76;
}

.my-name {
    position: absolute;
    top: 20px;
    left: 20px;
    color: rgb(102, 104, 130);
}

.text-field {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 4rem;
    font-weight: bold;
    background-color: rgba(26, 27, 38, 0.395);
    padding: 0 20px;

    overflow-x: auto;
}

::-webkit-scrollbar {
    width: 10px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background-color: #16151f;
}

::-webkit-scrollbar-thumb {
    background: #403c5f;
    border-radius: 9999px;
}

.good-letter {
    color: rgb(116, 255, 88);
}

.bad-letter {
    color: rgb(255, 34, 89);
}

#guy {
    transform-box: fill-box;
    transform-origin: top;
    animation: 3s cubic-bezier(0.57, 0.16, 0.59, 0.87) infinite hang;
}

#shadow {
    animation: 3s cubic-bezier(0.57, 0.16, 0.59, 0.87) infinite shadow-move;
}

@keyframes hang {
    0% {
        transform: rotateZ(-2deg);
    }
    50% {
        transform: rotateZ(2deg);
    }
    100% {
        transform: rotateZ(-2deg);
    }
}

@keyframes shadow-move {
    0% {
        transform: translateX(5px)
    }
    50% {
        transform: translateX(-5px)
    }
    100% {
        transform: translateX(5px)
    }
}